@use '../../../mixin' as m;


.logoImgWrap {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
}

.mainViewContainer {
    position: relative;
    bottom: -80px;
    margin: -20px 0 80px 0;
}
.mainViewWrap {
    max-width: 100%;
}
.mainView_img {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.mainView_title {
    z-index: 99;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #fff;
    font-size: 2.125rem;
    font-weight: bold;
}


.detailSecInner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 36px 20px;

    @include m.pc {
        padding: 36px 10px;
    }
}

.messageWrap {
    margin: 97px auto 78px;
}
.message_text {
    text-align: center;
    line-height: 2.5;
}



.detailContainer {
    display: flex;
    position: relative;
    margin-bottom: 222px;

    @include m.page {
        display: block;
        margin-bottom: 100px;
    }

}

.detailContainer-reverse {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin-bottom: 222px;


    @include m.page {
        display: block;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
}

.detailImgWrap {
    z-index: 1;

    @include m.page {
        display: block;
        flex-wrap: wrap;
        text-align: center;
    }
}

.detail_img {
    width: 100%;
}


.detailTextWrap {
    width: 813px;
    height: 381px;
    background-image: url(../../../img/bg/textbg.png);
    position: absolute;
    right: 0;
    top: 20%;

    @include m.page {
        position: relative;
        width: 100%;
        height: auto;
    }
}

.detailTextWrap-reverse {
    left: 0;

    @include m.page {
        position: relative;
    }
}

.detail_title {
    margin: 60px 0 0 238px;
    font-size: 1.5rem;

    @include m.page {
        margin: 10% 0;
        padding-top: 10%;
        text-align: center;
    }
}

.detail_text {
    margin: 52px 0 0 238px;
    line-height: 2;

    @include m.page {
        margin: 0;
        text-align: center;
        padding: 0 1% 10% 1%;

    }
}

.detail_text-caution {
    font-size: 0.875rem;
    margin: 52px 0 0 238px;
    line-height: 1.5;

    @include m.page {
        margin: 0;
        text-align: center;
        padding-bottom: 10%;
    }
}

.detail_title-reverse {
    margin: 60px 0 0 60px;

    @include m.page {
        margin: 60px 0;
        text-align: center;
    }
}

.detail_text-reverse {
    margin: 52px 0 0 60px;

    @include m.page {
        margin: 0;
        text-align: center;
    }
}


.linkSec {
    background-image: url(../../../img/bg/footerbg.png);
    width: 100%;
    padding: 64px 20px 61px 20px;
    box-sizing: border-box;
}


.addressWrap {
    display: flex;
    margin: 72px auto 23px;
    justify-content: space-between;
    width: 350px;
}

.address {
    letter-spacing: 0.2rem;
}

.telWrap {
    margin: 0 auto;
    width: 280px;
    display: flex;
    justify-content: space-between;
}



.effectSecInner {
    box-sizing: border-box;
    max-width: 1180px;
    margin: 156px auto 96px;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 95px 150px 74px 150px;

    @include m.pc {
        padding: 95px 50px 74px 50px;
        margin: 0 auto 0;
    }
}

.effectTittle {
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: 51px;
}

.effectDetailTittle {
    font-weight: normal;
    width: 80px;
    float: left;
    padding: 17px 160px 0 0;
    border-top: 1px solid #E7E7E7;

    @include m.pc {
        padding: 17px 30px 10px 0;
    }

    @include m.tab {
        float: initial;
        border: none;
    }
}

.effectDetailText {
    margin-left: 240px;
    padding: 17px 0;
    border-top: 1px solid #E7E7E7;

    @include m.pc {
        margin-left: 110px;
    }

    @include m.tab {
        margin-left: 0;
        border-bottom: 1px solid #E7E7E7;
    }

}

.effectList {
    font-size: 0.9375rem;
    max-width: 880px;
    border-bottom:  1px solid #E7E7E7;
    margin: 0 auto;

    @include m.pc {
        border: none;
    }
}